h3 b, h4 b {
	background-color: #fff;
	color: #fff;
	line-height: 31px;
	text-transform: uppercase;
	padding: 0 5px 0 0;
	font-family: 'Poppins';
	font-weight: 400;
	position: relative;
    z-index: 1;
	display: inline-block;
}
h3 b:after, h4 b:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    display: inline-block;
    background: #fff;
    right: -11px;
	top: 0;
}

.titleh3.margin-bottom-20{
	margin-bottom: 23px !important;
	font-size: 16px;
    line-height: 20px;
    position: relative;
}

.titleh3.margin-bottom-20:after {
    height: 100%;
    top: 0;
    margin-top: 0;
    background: url('../../img/titlestripe.png');
	content: '';
    position: absolute;
	opacity: .13;
    left: 0;
    width: 100%;
	display: inline-block;
}
.titleh3.margin-bottom-20 b {
	background-color: #fff; /*shouold be changable*/
	color: #fff;
	line-height: 31px;
	text-transform: uppercase;
	padding: 0 5px 0 0;
	font-family: 'Poppins';
	font-weight: 400;
	position: relative;
    z-index: 1;
	display: inline-block;
}
.titleh3.margin-bottom-20 b:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    display: inline-block;
    background: #fff;
    right: -11px;
}
.home_sec_one_addon_1 .pull-right, .home_sec_two_addon_1 .pull-right {
    margin-top: 3px!important;
}
.pull-right .nav-tabs>li.active>a, .pull-right .nav-tabs>li.active>a:focus, .pull-right .nav-tabs>li.active>a:hover {
    color: #F26262;
}
h3.margin-bottom-15{
	margin-bottom: 23px !important;
	font-size: 16px;
    line-height: 20px;
    position: relative;
}
h3.margin-bottom-15:after {
    height: 100%;
    top: 0;
    margin-top: 0;
    background: url('../../img/titlestripe.png');
    opacity: .13;
	content: '';
    position: absolute;
    left: 0;
    width: 100%;
	display: inline-block;
}
h4.margin-bottom-15{
	margin-bottom: 23px !important;
	font-size: 16px;
    line-height: 20px;
    position: relative;
}
h4.margin-bottom-15:after {
    height: 100%;
    top: 0;
    margin-top: 0;
    background: url('../../img/titlestripe.png');
    opacity: .13;
	content: '';
    position: absolute;
    left: 0;
    width: 100%;
	display: inline-block;
}
.post_block_1 .pull-right {
    float: right!important;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
}
.post_block_6 .pull-right {
    float: right!important;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
}
/******END - For the new style for titles***/