@media only screen and (min-width: 768px){
body .navbar.navbar-default.navstyle-for-bg, .header_top_block.navstyle-for-bg {
    background-color: transparent !important;
}
body .navbar.navbar-default.navstyle-for-bg .nav-dark {
    background-color: transparent;
}
footer.navstyle-for-bg {
    background-color: transparent !important;
}
body .body-bg-image-div{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999999;
	top: 0;
}
body .body-bg-image-style{
	opacity: 1;
	height: auto;
	width: 101%;
	margin: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
}
@media only screen and (max-width: 767px){
.body-bg-image-div{
	display:none !important;
}
}