header.mobilemenuarea .mobilemenu-bar:before{
    content: '';
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.98;
	background: rgba(0,0,0,.8);
    background: -moz-linear-gradient(top,rgba(0,0,0,.8) 0%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,.8)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, @mobileu_gradient_two_mob 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.8) 0%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.8)', endColorstr='rgba(0,0,0,0.7)', GradientType=0 );
}
.mobilemenu-bar .navbar-social{
	position: absolute;
}
.mobilemenuarea{display: none;}
.tabs-mobile-menu{display: none;}
.mobile_limit_title{display: none;}
@media only screen and (min-width: 280px) and (max-width: 767px) {
.headerdefault,
.headerstyleone,
.headerstyletwo,
.headerstylethree,
.headerstylefour,
.headerstylefive,
.headerstylesix,
.headerstyleseven,
.headerstyleoneseven{
	display: none;
}
body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}
.navbar-header{display: none;}
.title_not_for_mobile{display: none;}
.mobilemenuarea{display: block;}
.tabs-mobile-menu{display: block; padding-left: 50px;}
.mobile_limit_title{display: block;}
.header .navbar-brand {
    padding: 15px 6%;
	width: 80%;
}
.navbar-toggle {
	width: 10%;
    float: left;
}
.navbar-brand>img {
    margin: 0 auto;
}
.mobilemenuarea .search-bar input {
    height: 100px;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 25px;
}
.mobilemenu-bar {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: block;
    min-height: 600px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 115%;
	left: 0;
	z-index: 4444;
	opacity: 0;
	visibility: hidden;
	padding: 0 15px;
	transform: translateY(-100%);
	transition: all .32s ease-in-out;
	-webkit-transition: all .32s ease-in-out;
	-moz-transition: all .32s ease-in-out;
	-o-transition: all .32s ease-in-out;
}

.mobilemenu-bar.active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0%);
}
.mobilemenu-close:hover ,
.mobilemenu-close {
	position: absolute;
	right: 15px;
	top: 0;
	line-height: 100px;
	font-size: 30px;
	color: #ddd;
	cursor: pointer;
	transition: all .32s ease-in-out;
	-webkit-transition: all .32s ease-in-out;
	-moz-transition: all .32s ease-in-out;
	-o-transition: all .32s ease-in-out;
}

.mobilemenu-close:hover {
	color: #333;
}
.mobilemenu-bar.active .navbar-nav {
    margin: 94.5px -15px;
}
.mobilemenu-bar.active .dropdown-v1 > .dropdown-menu .dropdown-menu{ background-color: transparent;}
.header .navbar-default .mobilemenu-bar.active .navbar-nav > li > a {
    color: #fff;
	font-size: 20px!important;
}
.navbar-default .mobilemenu-bar.active .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
	font-size: 18px!important;
}
.navbar-default .mobilemenu-bar.active .widgettitle {
    color: #fff;
	font-size: 18px!important;
}
.navbar-default .mobilemenu-bar.active .navbar-nav a {
    color: #fff;
	font-size: 18px!important;
	line-height: 20px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.tabs-menu{display: none;}
.tabsitemcontent{display: none;}
.navbar-default .mobilemenu-bar.active .megamenu > .dropdown-menu .widget_nav_menu li {
    border-bottom: none;
}
}
@media only screen and (max-width: 767px){
.mobilemenuarea .dropdown-v1 .dropdown-menu {
    top: 40px !important;
}
.header.header2.mobilemenuarea .navbar-nav .open .dropdown-menu>li>a {
    padding: 40px 15px 5px 50px;
}
.header.header2.mobilemenuarea .navbar-nav .open .dropdown-menu>li:first-child>a {
    padding: 5px 15px 5px 50px;
}
.header.header2.mobilemenuarea .navbar-nav .open .dropdown-menu>li>.dropdown-menu>li:first-child>a {
    padding: 5px 15px 5px 65px;
}
ul.navbar-nav li:not(.megamenu) ul li ul:last-child{
	margin-bottom: 10% !important;
}
}