/* Mobile Portrait View */

@media screen and (max-width: 479px) {
    * {
        box-sizing: border-box;
    }
    .nivo-controlNav{ 
		display:none !important;
	}
	.nivo-caption {
    	width: 70% !important;
    	left: 15% !important;
   	 	bottom: 35% !important;
    	padding: 10px;
	}
	.nivo-caption p {
		display: none !important;
	}
	.nivo-caption .button {
		display: none !important;
	}
	.nivo-caption h2 {
		font-size: 20px !important;
		line-height: 32px !important;
		text-align: center;
		margin-bottom: 0;
	}
    .container {
        width: 95%;
    }
    .header {
        position: inherit !important;
        padding-top: 30px;
    }
    .header .header-inner {
        width: 95%;
		text-align:center;
    }
    .logo {
        float: none;
        text-align: center;
		margin-bottom:15px !important;
    }
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin-top: 20px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
    }
    .sitenav {
        float: none;
        margin: 0;
        position: relative;
        overflow-x: hidden;
		width:100%;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
		text-align:left;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    /* ------ Extra ------ */
    
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: 95%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .site-main {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
    .nivo-directionNav a {
        top: 36% !important;
    }
	
	.header_right {
    width: 100%;
    float: none;
    padding: 0;
}
.right-box,
.right-box.last {
    width: auto;
    float: none;
    margin-right: 0;
}
.right-box .fa {
    margin-bottom: 20px;
    float: none;
}
.bx-text {
    display: inline-block;
    float: none;
    text-align: left;
    width: auto;
}
.searchbar {
    display: none;
}
.we-are h2.section_title {
    font-size: 23px;
}
.we-are h2.section_title {
    width: auto;
}
.we-are p {
    width: auto;
}
.we-are-box {
    float: none;
    margin-right: 0;
    width: auto;
}
}
/* Mobile Landscape View */

@media screen and (max-width: 719px) and (min-width: 480px) {
    * {
        box-sizing: border-box;
    }
    .nivo-controlNav{ 
		display:none !important;
	}
	.nivo-caption {
    	width: 70% !important;
    	left: 15% !important;
   	 	bottom: 35% !important;
    	padding: 10px;
	}
	.nivo-caption p {
		display: none !important;
	}
	.nivo-caption .button {
		display: none !important;
	}
	.nivo-caption h2 {
		font-size: 20px !important;
		line-height: 32px !important;
		text-align: center;
		margin-bottom: 0;
	}
    .container {
        width: 95%;
    }
    .header {
        position: inherit !important;
        padding-top: 30px;
    }
    .header .header-inner {
        width: 95%;
		text-align:center;
    }
    .logo {
        float: none;
        text-align: center;
		margin-bottom:15px !important;
    }
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin-top: 20px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
    }
    .sitenav {
        float: none;
        margin: 0;
        position: relative;
        overflow-x: hidden;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    /* ------ Extra ------ */
    
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
    .nivo-directionNav a {
        top: 36% !important;
    }
   .header_right {
    width: 100%;
    float: none;
    padding: 0;
}
.right-box,
.right-box.last {
    width: auto;
    float: none;
    margin-right: 0;
}
.right-box .fa {
    margin-bottom: 20px;
    float: none;
}
.bx-text {
    display: inline-block;
    float: none;
    text-align: left;
    width: auto;
}
.searchbar {
    display: none;
}
.we-are h2.section_title {
    font-size: 23px;
}
.we-are h2.section_title {
    width: auto;
}
.we-are p {
    width: auto;
}
.we-are-box {
    float: none;
    margin-right: 0;
    width: auto;
}
}
@media screen and (max-width: 899px) and (min-width: 320px) {
    h2.section-title {
        line-height: 48px;
        font-size: 35px !important;
    }
    .cat_comments {
        height: auto;
    }
}
/* Tablet View */

@media screen and (max-width: 999px) and (min-width: 720px) {
    * {
        box-sizing: border-box;
    }
    .pagearea-inner { top:-90px !important;}
	.nivo-caption {
    	left: 15% !important;
    	width: 70% !important;
		bottom:17% !important;
	}
    .container {
        width: 95%;
    }
    .header {
        position: inherit !important;
        padding-top: 30px;
    }
    .header .header-inner {
        width: 95%;
    }
    .logo {
        float: none;
        text-align: center;
    }
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin-top: 20px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
    }
    .sitenav {
        float: none;
        margin: 0;
        position: relative;
        overflow-x: hidden;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: 60%;
        margin: 0;
        padding: 0;
        float: left;
    }
    #sidebar {
        width: 35%;
        margin: 0;
        padding: 0;
        float: right;
    }
	
	.header_right {
    width: 90%;
    float: none;
    padding: 0;
    margin: 0 auto;
}
.right-box {
    width: 33%;
    float: left;
    margin-left: 0;
}
.right-box.last {
    width: 33%;
    float: right;
    margin-right: 0;
}
.right-box .fa {
    margin-bottom: 20px;
    float: none;
}
.bx-text {
    display: inline-block;
    float: none;
    text-align: left;
    width: auto;
}
.searchbar {
    display: none;
}
.we-are h2.section_title {
    font-size: 23px;
}
.we-are h2.section_title {
    width: auto;
}
.we-are p {
    width: auto;
}
.we-are-box {
    float: none;
    margin-right: 0;
    width: auto;
}
}
@media screen and (min-width: 1000px) {
    .sitenav ul li ul li {
        display: block;
        position: relative;
        float: none;
    }
    .sitenav ul li ul li a {
        color: #ffffff;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px #313131 solid;
    }
    .site-main {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .container {
        width: 95%;
    }
    .header .header-inner {
        width: 98%;
    }
    .sitenav ul li a {
        padding: 5px;
    }
    .nivo-caption {
        top: 17% !important;
        height: auto !important;
    }
    .cat_comments {
        left: 35px;
        width: 25%;
    }
    .content-area {
        width: 95%;
    }
}